[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "bypi"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.tools.bink.sh/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
testfixtures = "==4.12.0"
pyfakefs = "==3.3"
gunicorn = "*"

[packages]
arrow = "==0.7.0"
blinker = "==1.4"
celery = "*"
graypy = "==0.2.14"
httpretty = "*"
lxml = "*"
pika = "*"
redis = "*"
requests = "*"
voluptuous = "==0.9.3"
scandir = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Script = "*"
Flask-Testing = "*"
PyJWT = "==1.4.1"
sentry-sdk = "*"
psycopg2-binary = "*"
handylib = "*"
prometheus-client = "*"
