arrow==0.7.0
blinker==1.4
celery==3.1.23
Flask==0.10.1
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-Testing==0.4.2
git+ssh://git@gitlab.com/olympus-libs/handylib.git
graypy==0.2.14
httpretty==0.8.14
lxml==3.6.1
pika==0.10.0
psycopg2==2.6.2
pyfakefs==2.7
PyJWT==1.4.1
raven==5.27.1
redis==2.10.5
requests==2.9.1
slackclient==1.0.4
testfixtures==4.12.0
voluptuous==0.9.3
